# R specific gitignores
.Rprofile
.Rhistory
.Ruserdata
.DS_Store
*.Rproj
.Rproj.user

## ignore the renv initialization file
initialize_renv.R

## ignore filtered CLIF tables stored as Rdata
*.RData

#ignore source CLIF_ files 
*.parquet
clif_*.csv
clif_*.fst

# ignore rendered pdf and html
*.pdf
*.html

# ignore the venv
.mobilization

# all files under intermediate and final folder
# all data files and results
*.csv
*.fst
*.parquet
*.png
subhazard_summary.json
subhazard_summary_72hrs.json
fg_model_summary.txt
fg_model_summary_72hrs.txt

output_old/
code/logs/
package-lock.json