# R specific gitignores
.Rprofile
.Rhistory
.Ruserdata
.DS_Store
*.Rproj
.Rproj.user

## ignore the renv initialization file
initialize_renv.R

## ignore filtered CLIF tables stored as Rdata
*.RData

#ignore source CLIF_ files 
*.parquet
clif_*.csv
clif_*.fst

# ignore rendered pdf and html
*.pdf
*.html

# ignore the venv
.mobilization

# all files under intermediate folder
output/intermediate/
output/final/

output_old/
code/03_competing_risk_mobilization.qmd

package-lock.json